[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/sol2"]
	path = external/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "external/stb/stb"]
	path = external/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "external/sdl"]
	path = external/sdl
	url = https://github.com/spurious/SDL-mirror.git
[submodule "external/physfs"]
	path = external/physfs
	url = https://github.com/criptych/physfs.git
	branch = main
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/winlibs/freetype.git
[submodule "external/trs"]
	path = external/trs
	url = git@github.com:xhighway999/trs.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
	branch = v1.x
[submodule "external/json"]
	path = external/json
	url = git@github.com:nlohmann/json.git
[submodule "external/wave"]
	path = external/wave
	url = https://github.com/audionamix/wave.git
[submodule "external/nanovg-nanort"]
	path = external/nanovg-nanort
	url = https://github.com/syoyo/nanovg-nanort.git
[submodule "external/nativefiledialog-extended"]
	path = external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
